In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/superstore.csv')
print(df.shape)
df.columns

(51290, 27)

Index(['Category', 'City', 'Country', 'Customer.ID', 'Customer.Name',
       'Discount', 'Market', '记录数', 'Order.Date', 'Order.ID', 'Order.Priority',
       'Product.ID', 'Product.Name', 'Profit', 'Quantity', 'Region', 'Row.ID',
       'Sales', 'Segment', 'Ship.Date', 'Ship.Mode', 'Shipping.Cost', 'State',
       'Sub.Category', 'Year', 'Market2', 'weeknum'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        51290 non-null  object
 1   City            51290 non-null  object
 2   Country         51290 non-null  object
 3   Customer.ID     51290 non-null  object
 4   Customer.Name   51290 non-null  object
 5   Discount        51290 non-null  float64
 6   Market          51290 non-null  object
 7   记录数             51290 non-null  int64
 8   Order.Date      51290 non-null  object
 9   Order.ID        51290 non-null  object
 10  Order.Priority  51290 non-null  object
 11  Product.ID      51290 non-null  object
 12  Product.Name    51290 non-null  object
 13  Profit          51290 non-null  float64
 14  Quantity        51290 non-null  int64
 15  Region          51290 non-null  object
 16  Row.ID          51290 non-null  int64
 17  Sales           51290 non-null  int64
 18  Segment         51290 non-null  object
 19  Ship.Date       51290 non-null  object
 20  Ship.Mode       51290 non-null  object
 21  Shipping.Cost   51290 non-null  float64
 22  State           51290 non-null  object
 23  Sub.Category    51290 non-null  object
 24  Year            51290 non-null  int64
 25  Market2         51290 non-null  object
 26  weeknum         51290 non-null  int64
dtypes: float64(3), int64(6), object(18)
memory usage: 10.6+ MB

In [ ]:
#1. What is the overall sales, profit, and quantity sold
totals = df[['Sales', 'Profit', 'Quantity']].sum()

print(f"Total Sales: ${totals['Sales']:,}")
print(f"Total Profit: ${totals['Profit']:,}")
print(f"Total Quantity Sold: ${totals['Quantity']:,}")

Total Sales: $12,642,905.0
Total Profit: $1,467,457.2912800002
Total Quantity Sold: $178,312.0

In [12]:
#2. What are the data types of each column?
df.dtypes

Category           object
City               object
Country            object
Customer.ID        object
Customer.Name      object
Discount          float64
Market             object
记录数                 int64
Order.Date         object
Order.ID           object
Order.Priority     object
Product.ID         object
Product.Name       object
Profit            float64
Quantity            int64
Region             object
Row.ID              int64
Sales               int64
Segment            object
Ship.Date          object
Ship.Mode          object
Shipping.Cost     float64
State              object
Sub.Category       object
Year                int64
Market2            object
weeknum             int64
dtype: object

In [ ]:
#3. Convert Order.Date & Ship.Date to datetime.
df['Order.Date'] = pd.to_datetime(df['Order.Date'])
df['Ship.Date'] = pd.to_datetime(df['Ship.Date'])

In [14]:
#4. What is the number of unique products, customers, and countries?
df.nunique()[['Product.ID', 'Customer.ID', 'Country']]

Product.ID     10292
Customer.ID     4873
Country          147
dtype: int64

In [15]:
#5. What are the top 5 selling product categories by sales?
df.groupby('Category')['Sales'].sum().sort_values(ascending=False).head()

Category
Technology         4744691
Furniture          4110884
Office Supplies    3787330
Name: Sales, dtype: int64

In [ ]:
#6. What percentage of orders belong to each segment?
orders_by_segment = (df['Segment'].value_counts(normalize=True)*100)
orders_by_segment

Segment
Consumer       51.702086
Corporate      30.081887
Home Office    18.216027
Name: proportion, dtype: float64

In [ ]:
#7. Which 10 states have the highest number of orders?
df['State'].value_counts().head(10)

State
California                2001
England                   1499
New York                  1128
Texas                      985
Ile-de-France              981
New South Wales            781
North Rhine-Westphalia     719
Queensland                 717
San Salvador               615
Pennsylvania               587
Name: count, dtype: int64

In [ ]:
#8. What is the average discount?
df['Discount'].mean()

np.float64(0.14290754533047376)

In [ ]:
#9. Find the correlation between Sales, Profit, Quantity, Discount.
df[['Sales', 'Profit', 'Quantity', 'Discount']].corr()

             Sales    Profit  Quantity  Discount
Sales     1.000000  0.484923  0.313580 -0.086728
Profit    0.484923  1.000000  0.104365 -0.316490
Quantity  0.313580  0.104365  1.000000 -0.019875
Discount -0.086728 -0.316490 -0.019875  1.000000

In [ ]:
#10. Which ship mode is most frequently used?
df['Ship.Mode'].value_counts()

Ship.Mode
Standard Class    30775
Second Class      10309
First Class        7505
Same Day           2701
Name: count, dtype: int64

In [26]:
#11. Show the first & last order dates.
df['Order.Date'].min(), df['Order.Date'].max()

('2011-01-01 00:00:00.000', '2014-12-31 00:00:00.000')

In [27]:
#12. What is the average shipping cost?
df['Shipping.Cost'].mean()

np.float64(26.3758179645155)

In [28]:
#13. How many rows are there per year?
df['Year'].value_counts()

Year
2014    17531
2013    13799
2012    10962
2011     8998
Name: count, dtype: int64

In [30]:
#14. What are the top 5 most profitable sub-categories?
df.groupby('Sub.Category')['Profit'].sum().sort_values(ascending=False).head()

Sub.Category
Copiers       258567.54818
Phones        216717.00580
Bookcases     161924.41950
Appliances    141680.58940
Chairs        140396.26750
Name: Profit, dtype: float64

In [31]:
#15. Count how many orders had negative profit.
orders_neg_profit = (df['Profit'] < 0).sum()